*{
    margin:0px;

}
.nav{
    width:100%;
    height: 10vh;
    background-color: rgba(29, 87, 194, 0.883);
}
.heading{
    /* background-color: royalblue;    */
    grid-area: heading;
    height: 10vh;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;

}
.narendra{
    background-color: thistle;
    grid-area:narendra ;
}
.subhash{
    background-color: skyblue;
    grid-area:subhash ;
}
.satyam{
    background-color: springgreen;
    grid-area: satyam;
}
.body{
    background-color: wheat;
    display: grid;
    grid-template-areas: 'heading heading heading''narendra subhash satyam';
    height:90vh;
    width:100%;
    justify-content: space-evenly;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.body h3,h4 {
    text-align: center;
    color:rgb(33, 28, 83)
    
}

.about{
    height: 70vh;
    width:30vw;
}
img{
    width:100%;
    height: 80%;
}
.down{
    height:100vh;
    width:100%;
    background-color: black;
}


